body {
  font-family: sans-serif;
  font-size: .75em;
}
.main {
  width: 70%;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.main th {
  background: rgb(124, 124, 124);
  color: white;
}
.main td {
  background: rgb(240,240,240);
}
th {
  padding: 10px;
}
td {
  padding: 5px;
}
.sub-table th {
  background: rgb(30, 105, 98);
} 
.sub-table2 th {
  background: rgba(65, 177, 166, 0.562)
}
.sub-table2 * {
  text-align: center;
  width: 33%;
}